@import url(https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat&display=swap);


/*font-family: 'Dela Gothic One', cursive;
font-family: 'Montserrat', sans-serif;*/

body {
  margin: 0;
}

p {
  margin:0; 
}

img {
  max-width: 100%;
}

.fas {
  color: #fc4445; 
  font-size: 2em;  
}

.flex-card:hover {
  box-shadow: 0 0 12px 2px #ffa9a9;
}

.center-align {
  text-align: center;
}

@media only screen and (max-width: 450px) {

  .container { 
    display: grid; 
    width: 100vw; 
    margin: auto; 
    grid-template-columns: 100vw;
    grid-template-rows: auto 10vh; 
    grid-template-areas:
    "content"
    "footer";
    justify-content: center;
  }

  #hdr{
    grid-area: hdr; 
    position: fixed; 
    width: 100vw; 
    padding: 3vh 0;  
  }

#brand-logo {
  display: flex; 
  justify-content: center;
  text-decoration: none; 
  font-family: "Dela Gothic One", cursive;
  color: #fff; 
  font-size: 1.2em; 
}
  
  #navbar {
    margin-top: 10vh; 
    display: flex;  
    justify-content: center;
    background-color: rgb(252, 109, 133);
    position: fixed; 
    width: 100vw; 
  }

  ul {
    padding: 0; 
  }

  li {
    list-style: none;
    display: inline-flex;
    padding: 0 20px; /*separates out the links*/
    
  }
  li a {
    text-decoration: none;
    display: inline-flex;
    color: white; 
  }

  /* #navbar {
    grid-area: nav;  
    padding-top: 5vh; 
    padding-left: 5vh;
    margin: 0 px;  
    position: fixed; 
    background-color: #fff; 
    height: 10vh; 
    width: 100vw; 
  } */

  /* #navbar .nav-link {
    text-decoration: none;
    font-family: "Dela Gothic One", cursive;
    color: #000000; 
    display: none; 
  } */

  #card-nav {
    grid-area: card-nav; 
    display: grid;
    width: 100vw; 
    grid-template-columns: 20vw 20vw 20vw; 
    grid-template-rows: auto;
    grid-template-areas:
    "card1 card2 card3";
    justify-content: center;
    z-index: 100; 
    margin: 0; 
    position: fixed; 
    top: 15vh; 
    background-color: #fff; 
    /*box-shadow: 0px 10px 10px rgb(146, 145, 145);*/
  }

  #card1 {
    grid-area: card1;
    height: 15vh;
  }

  #card2 {
    grid-area: card2;
    height: 15vh;
  }

  #card3 {
    grid-area: card3;
    height: 15vh; 
  }

  
.flex-card {
  display: flex; 
  flex-direction: column;
  align-items: center;
  border-radius: 5px; 
  border: 2px solid #fc4445; 
  box-shadow: 0 0 2px 2px #ffa9a9;
  width: 15vw;
  justify-content: center;
  font-size: 0.7em; 
  margin: 0 auto; /*no margin on top and bottom, but centered horizontally*/
}

  #hdr {
    grid-area: hdr;
    font-family: 'Montserrat', sans-serif;
  }

  #content {
    grid-area: content;
    display: grid;
    width: 100vw; 
    grid-template-columns: auto; 
    grid-template-rows: repeat(3, 100vh);
    grid-template-areas:
    "content1"
    "content2"
    "content3";
    margin: 0px; 
    justify-content: center;
  }

  #content1 {
    grid-area: content1;
    display: grid;
    width: 100vw; 
    grid-template-columns: 25vw 70vw; 
    grid-template-rows: 100vh;
    grid-template-areas:
    "text1 elephant1"; 
    background-color: skyblue; /*rgb(34, 121, 235);*/
  }

  #elephant1 {
    grid-area: elephant1;
  }
  
  #text1 {
    grid-area: text1; 
  }

  #content2 {
    grid-area: content2;
    display: grid;
    width: 100vw; 
    grid-template-columns: 70vw 25vw; 
    grid-template-rows: 100vh;
    grid-template-areas:
    "elephant2 text2"; 
    background-color: springgreen; /*rgb(0, 146, 73);*/
  }

  #elephant2 {
    grid-area: elephant2;
  }
  
  #text2 {
    grid-area: text2; 

  }


  #content3 {
    grid-area: content3;
    display: grid;
    width: 100vw; 
    grid-template-columns: 25vw 70vw; 
    grid-template-rows: 100vh;
    grid-template-areas:
    "text3 elephant3"; 
    background-color: pink; /*rgb(252, 109, 133);*/
  }

  #elephant3 {
    grid-area: elephant3;
  }
  
  #text3 {
    grid-area: text3; 
  }

  .content-img {
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: center;
  }

  #footer {
    grid-area: footer; 
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed; 
    bottom: 0; 
    background-color: #fff;
    height: 18vh; 
    width: 100vw; 
    box-shadow: 0px -2px 15px rgb(204, 204, 204);
  }

  .ftr-icon-pad {
    padding: 0 10px 30px 10px;
    color: #fc4445;
  }
  
  .ftr-icon-pad:hover {
    color: #f75;
  }

  .highlight {
    font-weight: bold; 
  }
}
